<div class="cards-garden">
  <h1 class="fw-bold"><%= @garden.name %></h1>
  <p style="font-weight:bold"><%= @garden.address %></p>
  <p style="font-size:14px">Surface : <%= ( @garden.length * @garden.width ).truncate %> m²</p>
  <p style="font-size:14px">Température moyenne : <%= @garden.mean_temperature %> °C</p>
</div>
