<div class="navbar-lewagon navbar-expand-sm">
    <%= link_to new_garden_path, style: "width:40px; height: 40px" do %>
      <%= image_tag('picto_creer_garden.png', style: 'height:100%; width:auto;') %>
    <% end %>
    <%= link_to gardens_path, style: "width:40px; height: 40px" do %>
      <%= image_tag('picto_mesjardins.png', style: 'height:100%; width:auto;') %>
    <% end %>
</div>
