.cards-garden {
  background-color: #5AC698;
  // background: linear-gradient(-45deg, #F4F4F4, #5AC698);
  margin-block: 6px;
  padding-bottom: 12px;
  color: black;
  border-radius: 0 0 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 18px 100px -8px, rgba(0, 0, 0, 0.3) 0px 30px 60px -48px;
  margin-bottom: 32px;

  h1{
    text-transform: capitalize;
    color: white;
    margin-bottom: 1.25rem;
    font-size: 32px;
  }

  p {
    font-size: 16px;
    opacity: 0.7;
    line-height: 1;
    // opacity: .7;
    align-items: self-start;
    margin-bottom: 0;
    margin-top: 6px;

  }
}

.cards-vege {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-veg {
  // overflow: hidden;
  height: 100px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  display: flex;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  background-position: center;
  overflow: hidden;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.card-veg img {
  width: 90px;
  object-fit: cover;
  height: 100%;
}

.card-veg h2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.card-veg p {
  font-size: 24px;
  line-height: 1;
  // opacity: .7;
  align-items: self-start;
  margin-bottom: 0;
  margin-top: 12px;
}

.card-veg .card-veg-infos a {
  // text-decoration: none;
  // color: rgb(20, 100, 74);
  // margin: 8px;
  // padding: 6px 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  text-decoration: none;
  color: #14644a;
  margin: 8px;
}

.card-veg .card-veg-infos .card-info-bold {
  font-size: 16px;
  font-weight: 500;
  margin: 8px;
}

.card-veg .card-veg-infos .card-info-light {
  font-size: 12px;
  margin: 8px;
// .card-vegs .card-veg-infos p h2 {
//   padding: 2px;
//   margin: 2px;
}

.card-veg .card-select {
  // margin-top: 12px;
  padding: 8px;
  color: #14644a;
  font-weight: 600px;
  border-radius: 8px;
  height: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.card-veg .card-rating {
  font-weight: 600;
  color: rgb(20, 100, 74);
  text-align: right;
  margin-right: 12px
}

.card-veg .select-button {
  background-color:#5AC698;
    border-radius:30px;
    border:1px solid #00B6A1;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: bold;
    text-decoration:none;
    text-align: center;
    margin-inline: 2px;
  }

  .card-veg .select-button[disabled] {
    opacity: 0.5;
  }

  .card-comp {
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#5AC698;
    font-size: 16px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    margin-bottom: 16px;
    border-radius: 12px;
  }

  .card-comp p {
    padding: 2px;
    margin-bottom: 2px;
    padding: 2px;
    margin-bottom: 2px;
    background: #5AC698;
    border-radius: 8px;
    color: white;
    padding-inline: 4px;
  }

  .card-veg-small {
    height: 80px;
    margin: 4px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(black, 0.3);
    position: relative;
    text-align: center;
  }

  .card-veg-small img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%,;
    object-fit: cover;
    opacity: 0.5;
    background-color: #222222;
  }

  .card-veg-small p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color:white;
    font-size: 24px;
    font-weight: 600;
    background-color: transparent;
  }

  .card-veg-small:active {
    background-color: white;
  }
