// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "login_form";
@import "navbar";
@import "plan";
@import "button";
@import "navbar";
@import "description";
@import "cardveg";
@import "button_voir";

@import "scroll";

@import "address_autocomplete";



.container {
  margin-bottom: 60px;
  padding-top: 5rem;
  &.no-padding {
    padding-top: 0;
  }
}

a {
  color: black;
  text-decoration: none;
}
