// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "login_form";
@import "navbar";
@import "plan";
@import "button";
@import "navbar";
@import "description";
@import "cardveg";
@import "button_voir";

@import "scroll";

@import "address_autocomplete";
@import "buttonnext";



.container {
  margin-bottom: 100px;
  padding-top: 1rem;
  &.no-padding {
    padding-top: 0;
  }
}

a {
  color: black;
  text-decoration: none;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 9px;
  font-weight: bold;
}
