.navbar-top {
  justify-content: center;
  background: white;
  height : 75px;
  top: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 3;

  .navbar-top .navbar-collapse {
    flex-grow: 0;
    position: top;
  }

  .navbar-top img {
    padding-top: 10px;
    height: 50px;
    justify-content: center;
  }

}
