.navbar-lewagon {
  display: flex;
  justify-content: space-evenly;
  background: #5AC698;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  position: bottom;
  justify-content: space-evenly;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  justify-content: space-evenly;
}
